.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

    &__person {
        height: 30vh;
        width:30vh;
        margin-bottom: 5vh;
        border: 3px solid rgb(165, 165, 165);
        border-radius: 50%;
    }

    &__intro {
        width: 60%;
        min-width: 280px;
        color: #a4a5a6;
        & span:first-child {
            margin: auto;
            line-height: 2;
        }
        & h1 {
            color: #e0a80d;
        }
        & span:last-child {
            margin: auto;
            max-width: 400px;
        }
    }
}

