.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    @media screen and (min-height: 1920px) {
        top: 10%;
        &__person {
            height: 10vw;
            width: 10vw;
        }
        &__intro {
            font-size: 2em !important;
        }
    }

    &__person {
        height: 30vh;
        width: 30vh;
        border: 3px solid rgb(165, 165, 165);
        border-radius: 50%;
    }

    &__intro {
        width: 60%;
        height: 60%;
        min-width: 280px;
        max-width: 800px;
        color: #a4a5a6;
        font-size: calc(10px + 1.5vmin);
        & span:first-child {
            display: block;
            line-height: 2em;
        }
        & h1 {
            margin-block-start: 0;
            margin-block-end: 0;
            margin-bottom: 2vh;
            color: #e0a80d;
        }
        & span:last-child {
            display: block;
            margin: auto;
            line-height: 1.3em;
        }
    }
}

