@media screen and (min-width: 768px) {
    .navigation {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        & .menu-toggle-button {
            display: none;
        }
        & .menu {
            padding-inline-start: 0;
            &__item {
                position: absolute;
                text-decoration: none;
                list-style: none;
                &:first-child {
                    top: 10%;
                    left: 5%; 
                }     
                &:nth-child(2) {
                    top: 40%;
                    left: 5%; 
                }     
                &:nth-child(3) {
                    top: 40%;
                    right: 5%; 
                }     
                &:nth-child(4) {
                    top: 10%;
                    right: 5%;
                }     
                &:last-child {
                    width: 100%;
                    bottom: 5%;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        position: absolute;
        z-index: 7;
        width: 100%;
        height: 100%;
        & .menu-toggle-button {
            position: fixed;
            top: 5%;
            right: 5%;
            width: 40px;
            height: 40px;
            z-index: 8;
            background-image: url(../../images/menu-button-on.svg);
        }
        & .close {
            background-image: url(../../images/menu-button-off.svg);
        }
        .is-visible {
            margin-left: 0 !important;
        }
        & .menu {
            box-sizing: border-box;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 10% 0;
            padding-inline-start: 0;
            margin-block-start: 0;
            margin-block-end: 0;
            list-style-type: none;
            background-color: rgba(0, 0, 0, 0.9);
            transition: margin-left .5s;
            margin-left: -100%;
           &__item {
               box-sizing: border-box;
                width: 300px;
                min-height: 50px;
           }
        }
    }
}